.fret {
    width: 24.5%;
    min-height: 90px;
    border-bottom: 10px solid #424036;
    background-image: url("../style/fret.jpg");
    background-size: contain;
}


.fret-open {
    width: 24.5%;
    border-bottom: 10px solid #424036;
    min-height: 200px;
    z-index: 5;    
}

.note-strum {
    font-size: 0.65em;
    font-weight: 700;
}

.note-fret {
    font-size: 0.9em;
}